.SaveModal{
    border-radius: 5%;
    background-color: white;
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SelectModal{
    border-radius: 5%;
    background-color: white;
    width: 50rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TsunamiModal{
    border-radius: 5%;
    border: 2px solid red;
    color: red;
    background-color: white;
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EndTsunamiModal {
    border-radius: 5%;
    border: 2px solid rgba(42, 244, 72, 0.637);
    color: rgba(42, 244, 72, 0.637);
    background-color: white;
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}